@model UBB_SE_2024_Evil.Models.Auction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMaxSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMaxSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfStart)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuctionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
