@model IEnumerable<UBB_SE_2024_Evil.Models.Auction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuctionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMaxSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfStart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentMaxSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfStart)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuctionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuctionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuctionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
